@page "/components/alert"
@using MudBlazor

<h2>Component Demos</h2>

<MudStack>
    <MudAlert Severity="Severity.Normal">The reactor type is RBMK-1000</MudAlert>
    <MudAlert Severity="Severity.Normal" ShowCloseIcon="true">The reactor type is RBMK-1000</MudAlert>
    <MudAlert Severity="Severity.Normal" NoIcon="true">The reactor type is RBMK-1000</MudAlert>
    <MudAlert Severity="Severity.Normal" NoIcon="true" ShowCloseIcon="true">The reactor type is RBMK-1000</MudAlert>
</MudStack>