@page "/components/expansionpanels"

<!-- Controls -->
<MudStack Row Spacing="2" Class="align-center">
    <MudCheckBox @bind-Value="_multi" Label="MultiExpansion" />
    <MudCheckBox @bind-Value="_dense" Label="Dense" />
    <MudCheckBox @bind-Value="_gutters" Label="Gutters" />
    <MudCheckBox @bind-Value="_outlined" Label="Outlined" />
    <MudCheckBox @bind-Value="_hideIcon" Label="Hide Icon" />
    <div class="ml-4" style="min-width:240px;">
        <MudSlider @bind-Value="_elevation" Min="0" Max="25" Step="1" Color="Color.Info">Elevation: @_elevation
        </MudSlider>
    </div>
</MudStack>

<!-- Panels -->
<MudExpansionPanels Class="mt-5" MultiExpansion="_multi" Dense="_dense" Outlined="_outlined" Elevation="_elevation"
    DisableGutters="@(!_gutters)"> @* If your MudBlazor version exposes Gutters instead, use Gutters="_gutters" *@

    <MudExpansionPanel Text="Jedi Council" HideIcon="_hideIcon">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                <MudText>Panel header as <strong>RenderFragment</strong></MudText>
            </div>
        </TitleContent>

        <ChildContent>
            Panel Content
        </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Clone Army" HideIcon="_hideIcon">
        <MudText Class="mb-2">
            Clones bred on Kamino, commanded by the Republic’s generals.
        </MudText>

        <MudList T="string" Dense="_dense">
            <MudListItem T="string">CT-5555 “Fives”</MudListItem>
            <MudListItem T="string">CC-2224 “Cody”</MudListItem>
            <MudListItem T="string">CT-7567 “Rex”</MudListItem>
        </MudList>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Sith" HideIcon="_hideIcon">
        <MudText Class="mb-2">
            Always two there are: a master and an apprentice.
        </MudText>

        <MudList T="string" Dense="_dense">
            <MudListItem T="string">Darth Sidious</MudListItem>
            <MudListItem T="string">Darth Vader</MudListItem>
        </MudList>
    </MudExpansionPanel>

    <MudExpansionPanel Text="Watermelon" HideIcon="_hideIcon" Disabled="true">
        <MudText Class="mb-2">
            Watermelon sugar high
        </MudText>

        <MudList T="string" Dense="_dense">
            <MudListItem T="string">Apple</MudListItem>
            <MudListItem T="string">Kiwi</MudListItem>
        </MudList>
    </MudExpansionPanel>

</MudExpansionPanels>

@code {
    private bool _multi = false;
    private bool _dense = false;
    private bool _gutters = true;
    private bool _outlined = false;
    private bool _hideIcon = false;
    private int _elevation = 1;
}
