@page "/components/link"

<div Class="my-4"><MudLink Href="#" Color="Color.Primary">Default</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Disabled="true">Default Disabled link</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Underline="Underline.Always">Default Underline Always</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Disabled="true" Underline="Underline.Always">Disabled Default Underline Always</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Underline="Underline.Hover">Default Underline Hover</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Disabled="true" Underline="Underline.Hover">Disabled Default Underline Hover</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Underline="Underline.None">Default Underline None</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Disabled="true" Underline="Underline.None">Disabled Default Underline None</MudLink></div>
<MudDivider class="my-8"/>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Typo="Typo.body2">Body 2</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Typo="Typo.body2"Disabled="true">Body 2 Disabled link</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Typo="Typo.body2" Underline="Underline.Always">Body 2 Underline Always</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Typo="Typo.body2" Disabled="true" Underline="Underline.Always">Disabled Body 2 Underline Always</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" ypo="Typo.body2" Underline="Underline.Hover">Body 2 Underline Hover</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Typo="Typo.body2" Disabled="true" Underline="Underline.Hover">Disabled Body 2 Underline Hover</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Typo="Typo.body2" Underline="Underline.None">Body 2 Underline None</MudLink></div>
<div Class="my-4"><MudLink Href="#" Color="Color.Primary" Typo="Typo.body2" Disabled="true" Underline="Underline.None">Disabled Body 2 Underline None</MudLink></div>
